# Ignorar carpeta de assets de ejemplo y mockups
pagina de ejemplo/
mockup_inicio.html

# Ignorar archivos de sistema
.DS_Store
thumbs.db

# Ignorar archivos de documentación y prompts
BITACORA_PROYECTO.md
contenido_web_karttikeia.md
YOGA_PROMPT.md
GEMINI.md



# Ignore markdown files in the root directory, except for README.md
*.md
!README.md
